<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Spring</display-name>
  
  <!-- Add root context for other context -->
  <!-- <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>/WEB-INF/config/rootContext.xml</param-value>
  </context-param> -->
  <!-- Initialize only when the application first start -->
  <!-- <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener> -->
  
  <!-- Change root config file from xml to Java -->
  <!-- context-param>
  	<param-name>contextClass</param-name>
  	<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
  </context-param>
  Set config class
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>com.spring.config.RootContext</param-value>
  </context-param>
  Add Listener to Initialize only when the application first started
  <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  Create a DispatcherServlet to load context configuration
  <servlet>
  	<servlet-name>springDispatcher</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	Set the config file location
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>/WEB-INF/config/servletContext.xml</param-value>
  	</init-param>
  	
  	Change xml to java config
  	<init-param>
  		<param-name>contextClass</param-name>
  		<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
  	</init-param>
  	Set java config file
  	<init-param>
 		<param-name>contextConfigLocation</param-name>
 		<param-value>com.spring.config.ServletConfig</param-value>
 	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  Create Servlet-Mapping to map the url request
  <servlet-mapping>
  	<servlet-name>springDispatcher</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping> -->
  
</web-app>